body{
	margin-left: 0px;
	font-family: roboto,sans-serif;
}

h1{
	font-size:30px;
}

section{
	padding-left: 70px;
	padding-bottom: 20px;
	margin: 0px;
}

input{
	height: 30px;
	width: 300px;
	font-size: 18px;

}

button{
	background-color: #34a1f2;
	margin: 0px;
	color: white;
	font-weight: bolder;
	border: none;
	border-radius: 20px;
	height: 40px;
	width: 80px;
}

.check{
	height: 15px;
	width: 15px;
	margin: 5px;
	padding: 0px;

}

span{
	color:#95aee3;
}

p{
	color: grey;
	padding-left:50px;
	
}

.para{
	display: inline-block;
	padding-left: 0px;
}

div{
	background-color: #f5f8fa;
	width: auto;
	padding: 20px 30px;
}