body{
	display: block;
	margin: 16px;
	padding: 16px;
}

#main{
	 margin: 0px;
	 width: 400px;
     height: 600px;
     padding: 0px;
     border: 1px solid #c3c3c3;
     display: -webkit-flex; /* Safari */
     -webkit-flex-wrap: wrap; /* Safari 6.1+ */
     -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.76);
	 -moz-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.76);
	 box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.76);

}

p{
	color: #c6c4c1;
	margin: 10px;
	padding: 8px;
	font-size: 20px;
	position: relative;
}

h1{
	color: #494949;
	font-size: 30px;
	margin: 10px;
	padding: 0px;
}

.para2{
	color:#494949;
}

.para3{
	color: #00c323;
	padding: 16px;
}

