body{
	font-family: roboto,sans-serif;
}


span{
	float: left;
	padding: 10px;
	font-weight: bold;
}


#font{
	float: left;
	font-weight: bold;
	padding: 5px;
}

#font2{
	float: right;
	font-weight: bold;
	padding: 3px;
}

.yellow{
	background-color: #fef11a;
	height: 100px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}
#yellow{
	padding-top: 50px;
	
}


#color{
	float: right;
	padding: 4px;
	
}


.lighter{
	
	background-color:#fefee6;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.light{
	background-color:#fefcc2;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.lig{
	background-color:#fdfa98;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.li{
	background-color:#fdf76c;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.ligh{
	background-color:#fef448;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.lght{
	background-color:#fef11a;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.dark{
	background-color:#ffdc07;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.darker{
	background-color:#ffc100;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}

.darkest{
	background-color:#ffa500;
	height: 50px;
	width: 400px;
	padding: 0px;
	margin: 0px;
}